/* header  */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: grey;
  box-shadow: 0 0 5px #dddddd;
  z-index: 100;
  transition: height 0.3s ease-in-out;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a h1 {
  color: #333333;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
}
body {
  padding-top: 50px;
  background-color: grey;
}


.contact-form {
    float: right;
    width: 50%;
    padding: 20px;
    margin-right: 50px;
  }
  .contact-info {
    float: left;
    margin-top: 50px;
    width: 40%;
    padding: 20px;
    text-align: center;
  }
  form label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
  }
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #555;
  }
  .contact-info p {
    margin-top: 20px;
    font-size: 14px;
  }
  .contact-info a i {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
    display: inline-block;
  }

body{
    background-color: #ccc;
}
