/* header */
header {
  background-color:grey;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

  /* Style the cover photo */
.cover-photo img {
    width: 100%;
}

video{
  width: 100%;
  height: 300px;
  object-fit: fill;

}

/* profile */
#profile {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: grey;
}

#picture-container {
  width: 0%;
  text-align: center;
}

#picture-container img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 100px;
}

#bio-container {
  width: 60%;
  text-align: left;
  padding-left: 50px;
}

#bio-container h1 {
  color: white;
}


/* footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color:grey;
  padding: 20px;
}

.column {
  flex: 1;
  margin: 0 10px;
}


footer h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
}

iframe {
  width: 100%;
  border: 0;
  margin-top: 20px;
}

