/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: grey;
  box-shadow: 0 0 5px #dddddd;
  z-index: 100;
  transition: height 0.3s ease-in-out;
}
#header{
  text-decoration: none;

}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a h1 {
  color: #333333;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
}
body {
  padding-top: 50px;
  background-color: grey;
}
/* container  */
.container {
  margin-top: 50px;
  display: flex;
}

.column1, .column2 {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}

.row {
  
  margin-bottom: 20px;
}

.row2 {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.fa-check {
  color: rgb(52, 194, 52);
  margin-right: 10px;
}

ul li:hover {
  background-color: #eee;
  cursor: pointer;
}
