<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="about.css">
    <script src="/index.js"></script> 

</head>
<body>
    <!-- header  -->
    <header>
      <div class="header-left">
        <nav>
          <ul>
            <li><a href="/"><h1>Seokamela</h1></a></li>
          </ul>
        </nav>
  
      </div>
      <div class="header-right">
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="/views/about/about.html">about me</a></li>
            <li><a href="/views/contact/contact_me.html">contact me</a></li>
            <li><a href="/views/projects/projects.html">projects</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- container -->
    <div class="container">
      <div class="column1">
        <div class="row">
          <h2>Seokamela David ntjobokoane</h2>
          <h4>software developer</h4>
          <p>I am a software engineer graduate from Wethinkcode which is a peer to peer leaning environment,
            Communication and team work is highly encouraged the program offers NQF level 5 software engineer
            and runs for two years. first year I used Python and had a change to use google calendar API on one
            of the Team projects, Year two we mostly focused on java for our back-end and flutter for front end.
            also used React for another project which also require Java for back-end</p>
        </div>
        <div class="row">
          <!-- <h2>Row 2 in Column 1</h2> -->
          <ul>
            <li><i class="fa fa-dot-circle"></i>-- education</li>
            <li><i class="fa fa-dot-circle"></i>-- experince</li>
            <li><i class="fa fa-dot-circle"></i>-- projects</li>
            <li><i class="fa fa-dot-circle"></i>-- skills</li>

          </ul>

        </div>
      </div>
      <!-- <div class="column2">
        <div class="row row2">
          <h2>Matric grade 12 (2014)</h2>
          <h2>Software engineer NQF level 5 2022</h2>
        </div>
        <div class="row row2">
          <h2>Day care website </h2>
          <p>Day care website using ReactJS.</p>
        </div>
        <div class="row row2">
          <h2>Back-end Developer intern</h2>
          <p>four months internship as a backedn developer</p>
          <p>Obtained skills in PHP, symfony, github, Docker</p>
        </div>
        <div class="row row2">
          <h2>Java 16 OOP Back-end</h2>
          <p>Java OOP, Maven, junit and Javelin</p>
        </div>
        <div class="row row2">
          <h2>Python3</h2>
          <p>Python dundermentals</p>
        </div>
      </div> -->
      <div id="dynamic-content"></div>
      <script src="about.js"></script>
    </div>    
</body>
</html>