<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" href="projects.css">

  </head>
  <body>
    <header>
        <h1>Seokamela</h1>
        <nav>
          <ul>
            <li><a href="/">home</a></li>
            <li><a href="#About Me">About</a></li>
            <li><a href="/views/contact/contact_me.html">Contact</a></li>
            <li><a href="/views/projects/projects.html">Projects</a></li>
          </ul>
        </nav>
      </header>


    <h1 style="text-align:center;">My Projects</h1>
    <div class="projects-section">
      <div class="project-card">
        <img src="/assests/personal.png" alt="Project 1">
        <h2>Portfolio project</h2>
        <p>
            using HTML, CSS and JavaScript
        </p>
        <a href="https://github.com/SEOKAMELA/Portfolio">Learn More</a>
      </div>
      <div class="project-card">
        <img src="/assests/dacare.png" alt="Project 2">
        <h2>Day care sytem</h2>
        <p>
            using HTML, CSS and JavaScript
        </p>
        <a href="https://github.com/SEOKAMELA/littleseeds">Learn More</a>
      </div>
    </div>
  </body>
</html>
