/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: grey;
  box-shadow: 0 0 5px #dddddd;
  z-index: 100;
  transition: height 0.3s ease-in-out;
}
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a h1 {
  color: #333333;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: bold;
}
body {
  padding-top: 50px;
  background-color: grey;
}

  
.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-card {
    width: 300px;
    height: 400px;
    background-color: #333;
    color: #fff;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
  }
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .project-card h2 {
    margin-top: 20px;
  }
  .project-card p {
    margin: 20px;
    text-align: left;
    font-size: 14px;
  }
  .project-card a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
  }


/* footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color:grey;
  padding: 20px;
  
}

.column {
  flex: 1;
  margin: 0 10px;
}
.getintouch{
  margin-left: 50px;
}


footer h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 10px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #333;
}

iframe {
  width: 100%;
  border: 0;
  margin-top: 20px;
}